{% load wagtailcore_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aurore Content Preview</title>
    <style>
      .default-padding {
        margin: 1rem 4rem;
      }
    </style>
  </head>
  <body>
    <div class="default-padding" style="padding-top: 8rem">
      <h1>{{ page.headline }}</h1>
    </div>
    <div class="default-padding">
      <h2>{{ page.sub_headline }}</h2>
    </div>
    {% for block in page.body %} {% include_block block %} {% endfor %}
  </body>
</html>
